@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<form action="/Product/delete" method="post">
    Pid: <input type="number" name="pid"/>
    <input type="submit" value="Delete Product" />
    </form>
